<!-- SIGNUP/LOGIN FORM -->
<div class="login-content">
  <h4>SIGN UP/LOGIN</h4>
  <div class="divider blue line"></div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" [(ngModel)]="user.name" name="name">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" [(ngModel)]="user.email" name="email" (keydown.enter)="signup()">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
</div>
<div class="login-footer">
  <a class="login-button waves-effect btn-flat" (click)="signup()">SEND</a>
</div>