<!-- HEADER -->
<div class="row dark-blue-grey-theme">
    <!-- TABS -->
    <div class="col s12">
        <ul class="tabs dark-blue-grey-theme">
            <li class="tab col s1" (click)="getTasks()"><a href="#add"><i class="material-icons tab-icon" style="margin-top:10px">add</i></a></li>
            <li class="tab col s1" (click)="clearInput('search_input')"><a href="#search"><i class="material-icons tab-icon" style="margin-top:10px">search</i></a></li>
            <li class="tab col s3 offset-l7">
                <div class="col s10" style="margin-left:-20px">
                    <h6 class="white-text user-info text-overflow right-align">{{ user.fullname }}</h6>
                    <h6 class="grey-text user-info right-align">Logged in</h6>
                </div>
                <div class="col s2" style="margin-left:-10px">
                    <img src="{{ user.imgURL }}" class="profile-photo">
                </div>
            </li>
            <div class="indicator" style="display:none"></div>
        </ul>
    </div>

    <!-- ADD INPUT -->
    <div id="add">
        <div class="col s12 tab-input blue-grey-theme valign-wrapper">
            <div class="col s12 white padding">
                <div class="col s10 l10" style="height:100%">
                    <input type="text" placeholder="Add a task..." [(ngModel)]="newTask.text" (keyup.enter)="addTask()" style="height:100%">
                </div>
                <div class="col s2 right-align" (click)="addTask()">
                    <a class="waves-effect waves btn-flat grey-text" style="margin-left:-30px"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
        <!-- LIST -->
        <div class="col s12 white single-card scroll" *ngFor="let task of tasks">
            <div class="col s11 left-align padding">
                <form class="custom-content">
                    <input type="checkbox" id="{{ task._id }}" (click)="actionOnCheckbox(task)" [checked]="task.done">
                    <label for="{{ task._id }}" class="grey-text text-darken-1 task-text">{{ task.text }}</label>
                </form>
            </div>
            <div class="col s1 right-align" (click)="deleteTask(task)">
                <a class="waves-effect waves btn-flat grey-text" style="margin-left:-50px"><i class="material-icons">close</i></a>
            </div>
        </div>
    </div>

    <!-- SEARCH INPUT -->
    <div id="search">
        <div class="col s12 tab-input blue-grey-theme valign-wrapper">
            <div class="col s12 white padding">
                <input id="search_input" type="text" placeholder="Search a task..." (keyup)="searchTask($event)" style="height:100%">
            </div>
        </div>
        <!-- LIST -->
        <div class="col s12 white single-card scroll" *ngFor="let task of foundTasks">
            <div class="col s11 left-align padding">
                <form class="custom-content">
                    <input type="checkbox" id="{{ task._id }}" (click)="actionOnCheckbox(task)" [checked]="task.done">
                    <label for="{{ task._id }}" class="grey-text text-darken-1 task-text">{{ task.text }}</label>
                </form>
            </div>
            <div class="col s1 right-align" (click)="deleteTask(task)">
                <a class="waves-effect waves btn-flat grey-text" style="margin-left:-50px"><i class="material-icons">close</i></a>
            </div>
        </div>
    </div>
</div>  

<!-- FOOTER -->
<div class="custom-footer valign-wrapper">
    <h6 class="footer-text grey-text text-darken-1">You have: {{ totalTasks }} total item(s), {{ totalTasks - totalDoneTasks }} undone item(s) and {{ totalDoneTasks }} done item(s).</h6>
</div>